.container{
    padding: 1.2rem;   
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarOptionContainer{
    display: flex;

}
.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  padding-block: 0.6rem;
  font-size: 0.9rem;
  background: pink;
  padding-inline: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}